.aside-main-section {
    overflow: hidden;
}

.main-section {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--bg-main);
}

.el-header {
    background-color: var(--bg-header);
    color: #fff;
}

.table-section {
    margin-top: 20px;
}

.search-section-btn {
    margin-left: 8px;
}

.history-tabs {
    background-color: #fff;

    .collapse-btn {
        margin-right: 5px;
        cursor: pointer;
    }

    .el-tag {
        margin: 3px 2px;

        :hover {
            cursor: pointer;
        }
    }
}

/* fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .5s ease-out;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}